h1 {
	color: white;
	text-shadow: 2px 2px 5px #666666;
	margin-top: 50px;
}	

body {
	font-size: 24px;
	background: lightskyblue;
	text-align: center;
	color: black;
}
label {
	display: block;
	color: white;
	text-shadow: 2px 2px 5px #666666;
}

#hidden {
	min-height: 50px;
	margin-top: 50px;
}

#party{
	display: none;
	animation: bg-animation 5s infinite;
	text-shadow: 2px 2px 5px #666666;
	border: none;
}

#mountain1,#mountain2,#mountain3 {
	background-color: green;
	min-height: 1000px;
	display: block; 
	overflow: visible; 
	position: relative;
	z-index: 1;
	margin-top: 100px;
	transition: all 1s;
	filter: brightness(80%);
	clip-path: polygon();
}

#mountain1 {
	position:absolute;
	top:400;
	left:0;
	right:0;
	margin-top:50px;
	z-index:2;
	background:green;
	filter: brightness(50%);
}

#mountain2 {
	position:absolute;
	top:390;
	left:0;
	right:0;
	margin-top:50px;
	z-index:1;
	background:green;
	filter: brightness(75%);
}

#mountain3 {
	position:absolute;
	top:380;
	left:0;
	right:0;
	margin-top:50px;
	z-index:0;
	background:green;
	filter: brightness(100%);
}

#code {	
	margin-top: 50px;
	height: 300px;
}

@-webkit-keyframes bg-animation {
  0% {
    background-color: red;
  }
  15% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  45% {
    background-color: blue;
  }
  60% {
    background-color: purple;
  }
  75% {
    background-color: pink;
  }
  90% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

@keyframes bg-animation {
  0% {
    background-color: red;
  }
  15% {
    background-color: yellow;
  }
  30% {
    background-color: green;
  }
  45% {
    background-color: blue;
  }
  60% {
    background-color: purple;
  }
  75% {
    background-color: pink;
  }
  90% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}